    <div id="about-main-content">
    	<section class="elevated-section" >
			<div class="container">
				<div class="row">
				  <div class="col-lg-12">
						<h1 class="section-heading text-color-white">About</h1>
						
						<p class="section-paragraph text-color-white">Ryan Mathew Wedoff is a computer science student originally from Arlington Heights, Illinois.  He is currently studying at the University of Iowa, in Iowa City, working towards a Bachelors in Science in Computer Science and is in the 5 year combined degree program working toward a Masters in Computer Science.  Ryan is interested in the area of Software Engineering and Human Computer Interaction.  He has worked on various project that can be found his GitHub or at his previous internships.
						<br>
						Along with computer science, Ryan is a jazz musician and played in various groups starting back at Longfellow elementary school all the way through the Johnson Country Landmark Orchestra at the University of Iowa.
						</p>
				
			    	</div>
				</div>
			</div>
		</section>
	    <header class="image-bg-fluid-height" id="about-bg-img"></header>     
</div><!-- InstanceEndEditable -->