<div class="page-background">

  
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height" id="front-bg-img"></header>
    <!-- Content Section -->
    <section class="elevated-section" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-color-white">RYAN WEDOFF</h1>
                    <p class="lead section-lead text-color-white">Unviersity of Iowa, Master in Computer Science</p>
                    <p class="section-paragraph text-color-white">Ryan Wedoff is in the combined Master and Bachelors in Computer Science program at the University of Iowa.  He enjoys building software and like studying Human Computer Interaction.  Along with computer science, Ryan enjoys playing trumpet, scuba diving, and spending time with friends and family.</p>
                </div>
            </div>
        </div>
    </section>
</div>


