    <div id="main-content-music">
    	<section class="elevated-section" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-color-white">Music</h1>
                    <p class="section-paragraph text-color-white">Ryan has played trumpet in various groups over the past few years.  Ryan started music and trumpet back in elementary school and now plays in various groups at the University of Iowa.  He has played in High School Show Choir band, a Ska band, concert bands, orchestras, a brass group, marching band, and more recently in jazz bands.  At the University of Iowa, Ryan obtained a music minor with a jazz emphasis.  He has played in multiple jazz combos, the Latin Jazz Ensemble, and currently plays in the Johnson County Landmark Orchestra.  Checkout videos and photos from his musical endeavors below!</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
    	<div class="row">
    		<div class="col-lg-4 grid-padding">
    		<h3 class="text-color-white">Ryan in Hawkeye Marching Band</h3>
    			<div class="embed-responsive embed-responsive-16by9">
                	<iframe src="https://www.youtube.com/embed/LDljit3KwTg" frameborder="0" allowfullscreen></iframe>
            	</div>
            </div>
            <div class="col-lg-4 grid-padding">
            <h3 class="text-color-white">Ryan flugelhorn in Latin Jazz Ensemble</h3>
    			<div class="embed-responsive embed-responsive-16by9">
                	<iframe src="https://www.youtube.com/embed/slsPp4c0bFc" frameborder="0" allowfullscreen></iframe>
            	</div>
            </div>
            <div class="col-lg-4 grid-padding">
            	<h3 class="text-color-white">Ryan trumpet in Expressions Show Choir Band</h3>
    			<div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/KI5tc0TMVwY" frameborder="0" allowfullscreen></iframe>
            	</div>
			</div>           
           	<div class="col-lg-4 grid-padding">
           		<h3 class="text-color-white"><em>Todo Entaya</em></h3>
           		<p style="text-align: left;" class="text-color-white">by UI Latin Jazz Ensemble<br>Released: March 2016</p>           	
           		<img class="image-width pop" src="../images/LJE-Cover-500.jpg" alt="<em>Todo Entaya</em>">
           	</div>
           	<div class="col-lg-4 grid-padding">
           		<h3 class="text-color-white">Ryan and the JCL Trumpets 2016</h3>
				<img class="image-width pop" src="../images/jcl.jpg">
				
			</div>
           <div class="col-lg-4 grid-padding">
          		<h3 class="text-color-white">Ryan and Aro Brass Band</h3>
           		<img class="image-width pop" src="../images/aro brass.jpg">
           </div>
            
    	</div>
    	
    </div>
     
    </div><!-- InstanceEndEditable -->