
    <div id="main-content-work">
    	    	<section class="elevated-section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="section-heading text-color-white">Work &amp; Projects</h1>
					</div>	
				</div>
				<div class="row">
				<div class="col-md-4">					
						<img src="../images/linkedInPic.jpg" class="grid-padding center-block" id="linked-pic">
						<div class="grid-padding">
							<a href="https://www.linkedin.com/in/ryan-wedoff-b8450980/"><button class="form-control btn-primary" >
							<img src="../images/linkedin.svg" class="small-icon" style="width=20px" > LinkedIn</button></a>
						</div>
						<div class="grid-padding">
							<a href="https://github.com/rwedoff"><button class="form-control btn-primary">
							<img src="../images/github.svg" class="small-icon" style="width=20px" > GitHub</button></a>
						</div>						
						<div class="grid-padding">
							<a href="mailto:rwedoff@outlook.com"><button class="form-control btn-primary">
							<img src="../images/email.svg" class="small-icon" style="width=20px" > Contact</button></a>
						</div>	
						<div class="grid-padding">
							<form method="get" action="/assets/images/Ryan Wedoff Resume.pdf">
								<button class="form-control btn-danger"> Download Resume</button>
							</form>
						</div>						
					
				</div>				
					<div class="col-md-4">
					<div id="education-div">
						<p class="lead section-lead text-color-white">Education</p>
						<p class="text-color-white">The University of Iowa</p>
						<p class="text-color-white">Master in Computer Science ● May 2018</p>
						<p class="text-color-white">B.S. Computer Science ● May 2017</p>	
					</div>  
					<div id="work-div">
						<p class="lead section-lead text-color-white">Work</p>
						<ul class="text-color-white">
							<li><em>Current:</em>
								<ul>
									<li>Microsoft Student Partner (January 2016 – Present)</li>
									<li>University of Iowa Association of Computing Machinery Chapter <em>President </em>(May 2014 – Present)</li>
								</ul>
							</li>
							<li><em>Past:</em>
								<ul>
									<li>Microsoft Software Engineer Intern (Summer 2016)</li>
									<li>State Farm Insurance Co. Software Developer Intern (Summer 2015)</li>
									<li>University of Iowa Campus Activities Board <em>Vice President of Business</em> (January 2014 – December 2016)</li>
								</ul>
							</li>
							
						</ul>
					</div>	
					</div>
					<div class="col-md-4">
					<div id="cs-skills">
						<p class="lead section-lead text-color-white">Computer Skills</p>
						<ul class="text-color-white">
							<li>C# &emsp;&emsp;&emsp;&emsp;● ● ● ● ●</li>
							<li>JavaScript  &nbsp;	● ● ● ● ●</li>
							<li>HTML/CSS 	&nbsp;● ● ● ●</li>
							<li>Ruby&emsp;&emsp;&emsp;&nbsp;● ●</li>
							<li>Android	&emsp;&nbsp; &nbsp;● ● ●</li>
							<li>Java 	&emsp;&emsp;&nbsp; &nbsp;	● ● ●</li>
							<li>C 		 &emsp; &emsp;&emsp;&emsp;&nbsp;● ●</li>
							<li>Python &emsp;&nbsp; &nbsp;		●</li>
							<li>SQL 	&nbsp;&emsp;&emsp;&emsp;●</li>
						</ul>						
					</div>
					<div id="projects-div">
						<p class="lead section-lead text-color-white">Projects</p>
						<ul class="text-color-white">
							<li><a href="https://github.com/rwedoff/KinectDisplayBoard">Kinect Display Board</a>
								<ul>
									<li>WPF App that runs a display for MacLean Hall at the University of Iowa.  The display uses a Kinect for uses to interact with information while walking by.</li>
								</ul>
							</li>
							<li><a href="https://github.com/luke-franzen/TicketExchange" >Iowa Ticket Exchange</a>
								<ul>
									<li>
										Ruby on Rails web app for students to trade University of Iowa football tickets.
									</li>
								</ul>
							</li>
							<li><a href="https://play.google.com/store/apps/details?id=com.ryanwedoff.senor.naoservercontroller">Nao Remote</a>
								<ul>
									<li>Android application to control <a href="https://www.ald.softbankrobotics.com/en/cool-robots/nao">NAO Robots</a> created for the University of Iowa.</li>
								</ul>
							</li>
							
						</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
   		
	  <div class="container">
   			<div class="row">
			  <div class="col-lg-2">
   					<img src="../images/nao_remote.jpg" class="pop image-width grid-padding">
   				</div>
   				<div class="col-lg-5">
				  <img src="../images/iowatix.png" class="pop image-width grid-padding">
   				</div>
   				<div class="col-lg-5">
				  <img src="../images/kboard.png" class="pop image-width grid-padding">
   				</div>
   			</div>
   		</div>
</div>